body{
    margin:0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.top-sec{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    display: flex;
}
h1{
    font-size: 43px;
}
p{
    font-size: large;
    font-weight:450;
}

.txt-highlight{
    color: orange;
}

h3{
font-weight:150;
font-size:35px;
}
h4{
font-weight:300;
}

.half-width{
    width: 37%;
    padding-left:9%;
    padding-top:25px;
    padding-right: 1px;
}
.half-width img{
    width: 100%;
    
}
.button_1 a{
	text-decoration:none;
	color:white;
	border:1px solid orange;
	padding:5px 10px;
	background-image:linear-gradient(45deg , lightsalmon , tomato);
	font-weight:500;
	border-radius:10px;
}
.dm-bg{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 50px;
    display: flex;
}
.experiences{
  display: flex;
  background-image: url("images/exp-bg.png");
  background-position: left;
  background-repeat: no-repeat;
  margin-bottom: 150px;
}
.txt{
    box-shadow: 10px 10px 40px gray;
    margin-left: 25px;
    border-radius: 10px;
}
#exp1{
    border-left: 7px solid;
    border-image: linear-gradient( 180deg , lightsalmon , tomato);
    border-image-slice: 1;
    background-color: white;
}
#exp2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg , blue , cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    
  }
  