body{
    margin:0px;
    font-family Arial, Helvetica, sans-serif;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
h1{
    font-size: 43px;
}
p{
    font-size: large;
}
.logo{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 9%;
    padding-top:25px;
}
.half-width img{
    width: 100%;
    
}